
body{
  background: #f7f7f7
}
.table{
  margin: 2% !important;
  width: auto !important;
  text-align: center;
}
.filter{
  float: right !important;
  margin: 2% !important;


}
.result{
  padding: 2%
}
.loader{
  position: relative;
  left: 50%;
}